<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
  <script src="https://js.stripe.com/v3/"></script>
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <nav>
      <div class="rightcontainer">

      <div class="cart">
        <img src="assets/bx-cart.svg" alt="Panier" id="cart-icon" onclick="window.location.href='/checkout'"/>
        <span id="cart-count"></span>
      </div>

      <div class="login">
        <div id="login-container"></div>
      </div>
      
      </div>

      <div class="logo">
        <h1 onclick="window.location.href='/'">Prototype e-commerce</h1>
      </div>


      <div class="search">
        <input type="search" class="search" name="search" placeholder="Rechercher un produit">
        <button class="search-button">
          <img src="assets/bx-search(1).svg" alt="search"/>
        </button>
      </div>
      <!-- Deux inputs pour la recherche en fonction des prix -->
      <div class="indication-prix">
        <label for="inputMinimum">Prix minimum</label>
        <input type="number" id="inputMinimum" name="minimum" value="0" min="0" max="1000">
        <label for="inputMaximum">Prix maximum</label>
        <input type="number" id="inputMaximum" name="maximum" value="1000" min="0" max="1000">
      </div>

  


      <div class="search">
        <input type="search" class="search" name="search" placeholder="Rechercher un produit">
        <button class="search-button">
          <img src="assets/bx-search(1).svg" alt="search"/>
        </button>
      </div>

     </nav>
  </header>

  {% block content %}{% endblock %}


  <script src="js/cart.js"></script>
  <script src="js/fetchProducts.js"></script>
  <script src="js/saveAbandonedCart.js"></script>
  <script src="js/search.js"></script>
  <script src="js/productDetails.js"></script>
  <script src="js/checkout.js"></script>
  <script src="js/login.js"></script>
  <script src="js/loginStatus.js"></script>
  <script src="js/payment.js"></script>
  <script src="js/paymentPaypal.js"></script>
  <script src="js/paymentStripe.js"></script>

</body>
<footer>
  <p>&copy; 2023 Mon site e-commerce</p>
</footer>
</html>
