{% extends "views/layout.html" %}

{% block title %}
Panel Administration
{% endblock %}
{% block content %}


<h1>Panel Administration </h1>

<div class="menu">

<div class = "panel-dashboard">
    <form class ="panel-addProduct" method="GET" action="/admin/ajouterProduit"> 
        
        <button id="ajouterProduit" type="submit">
              
            Ajouter Produits
        </button>
    </form>
    
</div>

    <div  class="panel-dashboard">
        <button>
            Dashboard
        </button>
    </div>

    <div  class="panel-stock">
        <button>
            Stock
        </button>
    </div>


    <div  class="panel-addProduct">
        <button>
            IdontKnow
        </button>

    </div>


    <div  class="panel-IdontKnow">
        <button>
            IdontKnow
        </button>
    </div>

    <div  class="panel-IdontKnow2">
        <button>
            IdontKnow
        </button>
    </div>


    <div  class="panel-IdontKnow3">
        <button>
            IdontKnow
        </button>
    </div>

</div>

{% endblock %}


<script src="/views/js/loginStatus.js"></script>
<script src="index.js"></script>
