{% extends "views/layout.html" %}

{% block title %} 
Panier
{% endblock %}
{% block content %}
  <main>
    <h2>Récapitulatif de la commande</h2>
    <div class="cart-summary">
      <!-- produits du panier affichés ici -->
    </div>
    <button id="place-order">Passer la commande</button>
     <button id="pay-via-paypal">Payer via PayPal</button>


<div id="paypal-button-container" style="display: none;"></div>
    <script src="https://www.paypal.com/sdk/js?client-id=ATa0yClkJVB64ILAhkKoMx52BLXIlQymG0DBeuw28mLReBeJXo9lAGlBc47ev-FtsAVIwXrVqiaJQk4M"></script>
  </main>
{% endblock %}


