{% extends "views/layout.html" %}

{% block title %} 
Interface Paiements
{% endblock %}
{% block content %}
<main>
    <nav>
        <ul>
            <li><a href="/checkout">Paiements</a></li>
            <li><a href="/informations">Informations</a></li>
            <li><a href="/payment">Achats</a></li>
        </ul>
    </nav>
    <button id="retour" onclick="window.location.href='/checkout'">Retour</button>
   <button id="suivant" onclick="window.location.href='/informations'">Suivant</button> 
</main>
{% endblock %}


