{% extends "views/layout.html" %}

{% block title %} 
Paiements
{% endblock %}
{% block content %}
    <section id="paiements">
        <h2>Paiements</h2>
        <button id="payCard">Payer par carte bancaire</button>
        <button id="payPaypal">Payer par Paypal</button>
    </section>
    <section id="user-data-form">
        <input type="text" id="nom" placeholder="Nom">
        <input type="text" id="prenom" placeholder="Prénom">
        <input type="email" id="email" placeholder="Email">
    </section>
{% endblock %}
